.container-reference {
  position: relative;
  background-image: url('../../assets/images/bg08.jpg') !important;   
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding: 200px !important;
  border-radius: 0 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  margin-top: 0px !important;
  text-align: center !important;
}

.container-reference::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 71, 71, 0.2); 
  z-index: -1;
}

.container-reference .reference-title {
  color: #ffffff !important;
  font-size: 72px !important;
  padding-top: 100px !important;
}

.container-reference .reference-title-small {
  color: #ffffff !important;
  font-size: 40px !important;
  padding-bottom: 100px !important;
}

.reference-introduction {
    color: rgba(21,13,4,.65) !important;
    font-size: 18px !important;
    text-align: center !important;
    padding: 0 0 20px 0 !important;
    font-family: 'Montserrat', sans-serif !important;
}

/* Mobile Responsive Styles */
@media (max-width: 960px) {
  .container-reference {
    padding: 100px 40px !important;
  }
  
  .container-reference .reference-title {
    font-size: 48px !important;
    padding-top: 50px !important;
  }
  
  .container-reference .reference-title-small {
    font-size: 28px !important;
    padding-bottom: 50px !important;
  }
}

@media (max-width: 600px) {
  .container-reference {
    padding: 60px 20px !important;
  }
  
  .container-reference .reference-title {
    font-size: 32px !important;
    padding-top: 30px !important;
  }
  
  .container-reference .reference-title-small {
    font-size: 20px !important;
    padding-bottom: 30px !important;
  }
  
  .container-reference img {
    width: 60px !important;
    margin: 8px !important;
  }
}

