.container-home {
    position: relative;
    background-image: url('../../assets/images/bg01.jpg') !important;   
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 200px !important;
    border-radius: 0 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    margin-top: 0px !important;
    text-align: center !important;
}

.container-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 71, 71, 0.2); 
    z-index: -1;
}

.container-home .home-title {
    color: #ffffff !important;
    font-size: 72px !important;
    padding-top: 100px !important;
}

.container-home .home-title-small {
    color: #ffffff !important;
    font-size: 40px !important;
    padding-bottom: 100px !important;
}

.home-introduction {
    color: rgba(21,13,4,.65) !important;
    font-size: 35px !important;
    padding: 40px !important;
    text-align: center !important;
    text-transform: uppercase !important;
}

.home-introduction-quote {
    color: rgba(21,13,4,.65) !important;
    font-size: 18px !important;
    padding: 40px !important;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif !important;
}

.home-introduction-quote-author {
    color: rgba(21,13,4,.65) !important;
    font-size: 18px !important;
    text-align: center !important;
}

.home-introduction-image {
    background-image: url('../../assets/images/bg02.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 90% !important;
    height: 100vh !important;
    object-fit: cover !important;
    border-radius: 0 !important;
    margin-right: 5% !important;
    margin-left: 5% !important;
}

/* Mobile Responsive Styles */
@media (max-width: 960px) {
    .container-home {
        padding: 100px 40px !important;
    }
    
    .container-home .home-title {
        font-size: 48px !important;
        padding-top: 50px !important;
    }
    
    .container-home .home-title-small {
        font-size: 28px !important;
        padding-bottom: 50px !important;
    }
    
    .home-introduction {
        font-size: 24px !important;
        padding: 30px 20px !important;
    }
    
    .home-introduction-quote {
        font-size: 16px !important;
        padding: 30px 20px !important;
    }
    
    .home-introduction-quote-author {
        font-size: 16px !important;
        padding: 0 20px !important;
    }
    
    .home-introduction-image {
        width: 95% !important;
        height: 60vh !important;
        margin-right: 2.5% !important;
        margin-left: 2.5% !important;
    }
}

@media (max-width: 600px) {
    .container-home {
        padding: 60px 20px !important;
    }
    
    .container-home .home-title {
        font-size: 32px !important;
        padding-top: 30px !important;
        line-height: 1.2 !important;
    }
    
    .container-home .home-title-small {
        font-size: 20px !important;
        padding-bottom: 30px !important;
    }
    
    .home-introduction {
        font-size: 18px !important;
        padding: 20px 15px !important;
        line-height: 1.4 !important;
    }
    
    .home-introduction-quote {
        font-size: 14px !important;
        padding: 20px 15px !important;
        line-height: 1.5 !important;
    }
    
    .home-introduction-quote-author {
        font-size: 14px !important;
        padding: 0 15px !important;
    }
    
    .home-introduction-image {
        width: 100% !important;
        height: 50vh !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

