
.footer {
    background-color: #570f17 !important;
    color: #fff !important;
    text-align: center !important;
}

.footer .font-style {
    font-size: 32px;
    color: #fff;
    font-family: 'Poppins', sans-serif;    
}   

.footer .footer-button {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #570f17;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
    align-items: center !important;
    justify-content: center !important;
    padding: 10px 30px !important;
    letter-spacing: 4px !important;
}

.footer .footer-button:hover {
    background-color: #d8d8d4;
    color: #4b0000;
}

.footer a {
    text-decoration: none !important;
    color: #d8d8d4 !important;
}

.footer a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.footer .footer-box {
    font-size: 20px !important  ;
    color: #d8d8d4 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.footer .footer-box-small {
    font-size: 16px !important  ;
    color: #d8d8d4 !important;
    font-family: 'Montserrat', sans-serif !important;
    
}

.footer .footer-box a {
    text-decoration: underline !important;
    color: #d8d8d4 !important;
}

.footer .footer-box a:hover {
    color: #fff !important;
}


